@model IEnumerable<CitasLimatambo.Models.Especialidad>

@{
    ViewBag.Title = "Clínica Limatambo | Especialidades";
}

<div class="container body-content">
    <main class="container-servicio-apoyo">
        <div class="content-search">
            <div class="container">
                <form action="" id="buscarPlantel" method="get">
                    <div class="content-input-circle box-1">
                        <select class="select-circle" name="sedes" id="sedes" style="display: none;">
                            <option selected="" value="0">Sede principal</option>
                        </select><span tabindex="0" id="sedes-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="sedes-menu" aria-haspopup="true" class="ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button ui-widget"><span class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">Sede principal</span></span>
                    </div>
                    <div class="content-input-circle">
                        <input class="btn btn-red" type="submit" value="buscar">
                    </div>
                </form>
            </div>
        </div>

        <div class="av-container av-visible">
            <div class="content-servicio-apoyo-diagnostico aniview animated fadeIn" data-av-animation="fadeIn" style="opacity: 1;">
                <div class="container">
                    <div class="owl-servicio-diagnostico">
                        @foreach (var item in Model)
                        {
                            <div class="item">
                                <div class="titulo_boton">
                                    <a href="/especialidad/@Html.DisplayFor(modelItem => item.ID)" onclick="" class="boton_mostrar">
                                        <img src="@Html.DisplayFor(modelItem => item.imagenVector)" alt="">
                                        <img class="hover_servicio_img" src="@Html.DisplayFor(modelItem => item.imagen)" alt="">
                                        <span>@Html.DisplayFor(modelItem => item.nombre)</span>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>