@{
    ViewBag.Title = "Reserva de citas | Especialidades";
}

<div class="header-container" style="position: relative; bottom: -2px;">
    <div class="container">
        <p id="dimen_p1" style="margin-top: 50px;width: 160px;height: 22px;color: #ffffff;font-family:'montserrat-thin';font-size: 30px;font-weight: 300;">Solicita tu</p>
        <p style="margin-top: -12px;width: 385px;height: 48px;color: #ffffff;font-family:'montserrat-semibold';font-size: 60px;font-weight: 400;" id="citalinea">Cita en línea</p>
    </div>
</div>